{% extends "layout.html" %}

{% block content %}

<section class="cover">
    <div class="intro">
        <h1>
            As melhores receitas
        </h1>
        <p>
            Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.
        </p>
    </div>

    <div class="chef">
        <img src="/assets/chef.png" alt="Chef Foodfy">
    </div>
</section>
    
<main class="content">
    <h2>Mais acessadas</h2>

    <div class="cards">
        
        <div >
            <img src="/assets/burger.png" alt="Triplo bacon burguer">
            <h4>Triplo bacon burguer</h4>
            <p>por Jorge Relato</p>
        </div>

        <div >
            <img src="/assets/pizza.png" alt="Pizza 4 estações">
            <h4>Pizza 4 estações</h4>
            <p>por Fabiana Melo</p>
        </div>

        <div >
            <img src="/assets/espaguete.png" alt="Espaguete ao alho">
            <h4>Espaguete ao alho</h4>
            <p>por Júlia Kinoto</p>
        </div>

        <div >
            <img src="/assets/lasanha.png" alt="Lasanha mac n’ cheese">
            <h4>Lasanha mac n’ cheese</h4>
            <p>por Juliano Vieira</p>
        </div>

        <div >
            <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
            <h4>Docinhos pão-do-céu</h4>
            <p>por Ricardo Golvea</p>
        </div>

        <div >
            <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
            <h4>Asinhas de frango ao barbecue</h4>
            <p>por Vania Steroski</p>
        </div>

</div>
</main>

        {% endblock %}