<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/style.css">
    
{% block title %}

    <title>Foodfy</title>
    
{% endblock %}

</head>
<body>
    <div class="wrapper">
        
        <header class="header-layout">
            <a href="/">
                <img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/layouts/assets/logo.png" alt="Foodfy">
            </a>
            <div class="menu">
                <a href="/about">Sobre</a>
                <a href="/admin/recipes">Receitas</a>
            </div>
        </header>

        {% block content %} {% endblock %}

    </div>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    {% block script %} {% endblock %}
</body>
</html>