{% extends "layout.html" %}

{% block content %}

        <main class="content">
            <div class="cards">
                
                <div class="click" id="burger.png">
                    <img src="/assets/burger.png" alt="Triplo bacon burguer">
                    <h4>Triplo bacon burguer</h4>
                    <p>por Jorge Relato</p>
                </div>

                <div class="click" id="pizza.png">
                    <img src="/assets/pizza.png" alt="Pizza 4 estações">
                    <h4>Pizza 4 estações</h4>
                    <p>por Fabiana Melo</p>
                </div>

                <div class="click" id="espaguete.png">
                    <img src="/assets/espaguete.png" alt="">
                    <h4>Espaguete ao alho</h4>
                    <p>por Júlia Kinoto</p>
                </div>

                <div class="click" id="lasanha.png">
                    <img src="/assets/lasanha.png" alt="Lasanha mac n’ cheese">
                    <h4>Lasanha mac n’ cheese</h4>
                    <p>por Juliano Vieira</p>
                </div>

                <div class="click" id="doce.png">
                    <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                    <h4>Docinhos pão-do-céu</h4>
                    <p>por Ricardo Golvea</p>
                </div>

                <div class="click" id="asinhas.png">
                    <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    <h4>Asinhas de frango ao barbecue</h4>
                    <p>por Vania Steroski</p>
                </div>

                <div class="click" id="burger.png">
                    <img src="/assets/burger.png" alt="Triplo bacon burguer">
                    <h4>Triplo bacon burguer</h4>
                    <p>por Jorge Relato</p>
                </div>

                <div class="click" id="pizza.png">
                    <img src="/assets/pizza.png" alt="Pizza 4 estações">
                    <h4>Pizza 4 estações</h4>
                    <p>por Fabiana Melo</p>
                </div>

                <div class="click" id="espaguete.png">
                    <img src="/assets/espaguete.png" alt="">
                    <h4>Espaguete ao alho</h4>
                    <p>por Júlia Kinoto</p>
                </div>

                <div class="click" id="lasanha.png">
                    <img src="/assets/lasanha.png" alt="Lasanha mac n’ cheese">
                    <h4>Lasanha mac n’ cheese</h4>
                    <p>por Juliano Vieira</p>
                </div>

                <div class="click" id="doce.png">
                    <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                    <h4>Docinhos pão-do-céu</h4>
                    <p>por Ricardo Golvea</p>
                </div>

                <div class="click" id="asinhas.png">
                    <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    <h4>Asinhas de frango ao barbecue</h4>
                    <p>por Vania Steroski</p>
                </div>

        </div>
        </main>

{% endblock %}