@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.wrapper {
    width: 940px;
    margin: 32px auto;
}

.header-layout {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
}

.menu a {
    color: #111111;
    margin-right: 30px;
}

a {
    text-decoration: none;
}

/* === COVER === */

.cover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FBDFDB;
    border-radius: 30px;
}

.chef {
    justify-self: center;
    margin-top: 66px;
}

.intro {
    align-self: center;
    margin-left: 60px;
}

.intro h1 {
    font-size: 32px;
    color: #111111;
    line-height: 38px;
    width: 305px;
    height: 38px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    width: 316px;
    height: 84px;
}

.content {
    margin: 50px 0 20px 0;
}

/* === CARDS === */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
}


.click {
    cursor: pointer;
}

.content .cards img {
    border-radius: 15px;
    width: 300px;
}

.content .cards h4 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
    color: #111111;
}

.content .cards p {
    color: #777777;
    font-size: 14px;
    margin-top: 5px;
    line-height: 16px;
}

footer {
    text-align: center;
    padding: 23px 0;
    background-color: #EEEEEE;
}

footer p {
    color: #999999;
    font-size: 14px;
}

/* === MODAL === */

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    max-width: 660px;
    width: 90%;
    margin: 20vh auto;
    border-radius: 16px;
    position: relative;
}

.modal__content .card img {
    width: 91%;
    margin: 30px 30px 20px;
    border-radius: 15px;
}

.modal__content .card h4 {
    line-height: 28px;
    font-size: 24px;
    text-align: center;
    color: #111111;
}

.modal__content .card p {
    font-size: 21px;
    line-height: 18px;
    color: #777777;
    text-align: center;
    margin-top: 5px;
}

.modal__content .card a {
    font-size: 16px;
    color: #999999;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: 60px;
    padding-bottom: 30px;
}

/* === MODAL ACTIVE === */

.modal__overlay.active {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 1;
    visibility: visible;
}

main section h1 {
    margin: 30px 0 20px 0;
}

.about {
    display: block;
}

.text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.subtitles {
    margin-bottom: 20px;
}

/* === NEW RECIPES === */

.recipe img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 15px;
}

.title__recipe {
    text-align: center;
}

.info__recipe {
    margin-bottom: 61px;
}

.info__recipe h4 {
    font-size: 36px;
    line-height: 42px;
    color: #111111;
}

.info__recipe p {
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

.description__recipe {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 136px 70px;
    align-items: end;
    margin-bottom: 20px;
}

h5 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

sub {
    font-size: 12px;
    line-height: 14px;
    color: #999999;
    padding-left: 5px;
}

ul {
    padding-left: 18px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 39px;
}

.description__prepare {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 184px 70px;
    align-items: end;
    margin-bottom: 20px;
}

.info__recipe .desc__p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 47px;
}

.description__information {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 253px 70px;
    align-items: end;
    margin-bottom: 20px;
}

.description__recipe #recipe,
.description__prepare #prepare,
.description__information #information {
    cursor: pointer;
}

/* === ADMIN RECIPES ==== */

.header-admin {
    background-color: #111111;
    width: 100%;
    height: 78px;
}

.header-admin a img {
    margin: 27px 0 27px 295px;
}

.cards h2 {
    margin-top: 50px;
}

.card__item-admin {
    margin-top: 30px;
    display: inline-flex;
}

.cards-admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
}

.cards-admin img {
    width: 172px;
    border-radius: 8.57px;
}

.info-admin {
    margin-left: 20px;
    display: grid;
}

.content .cards-admin p {
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
}

.content .cards-admin a {
    color: #6558C3;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

/* === ADMIN CREATE === */

.second-header {
    display: flex;
}

.second-header h2 {
    width: 180px;
}

.primary_button {
    margin-left: 32px;
    background: #6558C3;
    border-radius: 4px;
    border: none;
    color: white;
    width: 139px;
    height: 37px;
    cursor: pointer;
}

#primary_button {
    margin-left: 640px;
}

/* .primary_button a {
    background-color: #6558C3;
} */

.show_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.show_top h4 {
    font-size: 24px;
    line-height: 28px;
}

.show_top a {
    background-color: #6558C3;
    color: white;
    padding: 9px 20px;
    border-radius: 5px;
    margin-left: 330px;
}


.details h4 {
    font-size: 16px;
    line-height: 19px;
    margin: 30px 0 10px 0;
}

input[type="text"] {
    width: 940px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-weight: normal;
}

#adicionais {
    height: 257px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

.details {
    display: block;
}

.details div:nth-child(2) input[type="text"],
.details div:nth-child(3) input[type="text"] {
    margin-bottom: 15px;
}

.details a {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #6558C3;
    cursor: pointer;
}

/* .buttonsForm section #put {
    display: grid;
    grid-template-columns: 1fr;
} */

section {
    display: inline-flex;
}

section h2 {
    width: 180px;
}

#delete {
    margin-left: 450px;
}

#delete button {
    background: rgb(228, 87, 87);
    border-radius: 4px;
    border: none;
    color: white;
    width: 139px;
    height: 37px;
    cursor: pointer;
}
