{% extends "admin/layout.njk" %}

{% block content %}    

    <section class="edit-form">
     
        <form id="put" method="POST" action="/admin/recipes?_method=PUT">
            <div class="second-header">
                <h2>Editando receita</h2>
        
                <input type="hidden" name="id" value="{{ item.id }}">    
                <button class="primary_button" type="submit">Salvar receita</button>

            </div>
            
            {% include "admin/edit-fields.njk" %}
            
        </form>

        <form id="delete" method="post" action="/admin/recipes?_method=DELETE">
            <input type="hidden" name="id" value="{{ item.id }}">
            <button type="submit">Deletar</button>
        </form>

    </section>

    {% block script %} 
        <script src="/insert-script.js"></script>
    {% endblock %}

{% endblock content %} 