{% extends "admin/layout.njk" %}

{% block content %}

    {# <div class="buttonsForm"> 

        <section>
            <h2>Editando receita</h2>
            
            <form id="delete" method="post" action="/admin/recipes?_method=DELETE">
                <input type="hidden" name="id" value="{{ item.id }}">
                <button type="submit">Deletar</button>
            </form>

            <form id="put" method="POST" action="/admin/recipes?_method=PUT">
                <div class="second-header">
                    <input type="hidden" name="id" value="{{ item.id }}">    
                    <button class="primary_button" type="submit">Salvar receita</button>
                </div>
        
        
                <section class="details">

                    <div>
                        <h4>Imagem da receita</h4>
                        <input 
                        type="text"
                        name="recipe_image"
                        placeholder="Insira aqui o link da sua imagem"
                        value="{{ item.recipe_image }}"
                        >
                    </div>

                    <div>
                        <h4>Titulo da receita</h4>
                        <input 
                        type="text"
                        name="title"
                        value="{{ item.title }}"
                        >
                    </div>

                    <div>
                        <h4>Autor da receita</h4>
                        <input 
                        type="text"
                        name="author"
                        value="{{ item.author }}"
                        >
                    </div>

                    <div id=ingredients>
                        <h4>Ingredientes</h4>
                        {% for i in item.ingredients %}
                            <div class="add_ingredient">
                                <input 
                                type="text"
                                name="ingredients[]"
                                value="{{ i }}"
                                >
                            </div>
                        {% endfor %}
                    </div>

                    <a class="insert_ingredient">Adicionar novo ingrediente</a>

                    <div id=prepare>
                        <h4>Modo de preparo</h4>
                        {% for i in item.prepare %}
                            <div class="add_prepare">
                                <input 
                                type="text"
                                name="prepare[]"
                                value="{{ i }}"
                                >
                            </div>
                        {% endfor %}
                    </div>
                    <a class="insert_prepare">Novo passo</a>


                    <div>
                        <h4>Informacoes adicionais</h4>
                        <input 
                        id="adicionais" 
                        type="text"
                        name="further_information"
                        value="{{ item.further_information }}"
                        >
                    </div>

                </section>
                
            </form>
        </section>

    </div> #}
    

    <section class="edit-form">
     
        <form id="put" method="POST" action="/admin/recipes?_method=PUT">
            <div class="second-header">
                <h2>Editando receita</h2>
        
                <input type="hidden" name="id" value="{{ item.id }}">    
                <button class="primary_button" type="submit">Salvar receita</button>

            </div>
            
            {% include "admin/edit-fields.njk" %}
            
        </form>

        <form id="delete" method="post" action="/admin/recipes?_method=DELETE">
            <input type="hidden" name="id" value="{{ item.id }}">
            <button type="submit">Deletar</button>
        </form>

    </section>

    {% block script %} 
        <script src="/insert-script.js"></script>
    {% endblock %}

{% endblock content %} 