<div class="items">
    <div id="upload-title">Imagem da receita</div>
    <div class="photos-layout">
        <div class="photos-upload">
            <input 
                id="photos-input"
                type="file"
                name="image"
                accept="image/*"
                multiple
                onchange="PhotosUpload.handleFileInput(event)"
            >
            <div class="photo-box">
                <span class="material-icons">add</span>
            </div>
        </div>

        <div class="photos-preview">
            {% if files %}
                {% for image in files %}
                    <div class="photo" id={{image.id}}>
                        <img src={{image.src}} alt={{image.name}}>
                        <i class="material-icons"
                            onclick="PhotosUpload.removeOldPhoto(event)"
                        >close</i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
        
    </div>
</div>

<div class="item">
    <div>Titulo</div>
    <div>
        <input 
            type="text"
            name="title"
            value="{{ recipe.title }}"
        >
    </div>
</div>

<div class="item">
    <div>Chef</div>
    <div>
        <select name="chef_id">
            <option selected disabled>Selecione um chef</option>
            {% for chef in chefs %}
                    <option 
                        value="{{ chef.id }}"
                        {% if recipe.chef_id == chef.id %} selected {% endif %}>
                        {{ chef.name }}
                    </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="item ingredients">
    <div>Ingredientes</div>

    {% if recipe.ingredients %}
        {% for item in recipe.ingredients %}
            <div class="itemIngredient">
                <input 
                    type="text"
                    name="ingredients[]"
                    value="{{ item }}"
                >
            </div>
        {% endfor %}
        {% else %}
            <div class="itemIngredient">
                <input 
                    type="text"
                    name="ingredients[]"
                    value=""
                >
            </div>
        {% endif %}
</div>

<div class="add-ingredient">Adicionar novo ingrediente</div>

<div class="item preparation">
    <div>Modo de preparo</div>
    
    {% if recipe.preparation %}
        {% for item in recipe.preparation %}
            <div class="itemPrepare">
                <input 
                    type="text"
                    name="preparation[]"
                    value="{{ item }}"
                >
            </div>
        {% endfor %}
        {% else %}
            <div class="itemPrepare">
                <input 
                    type="text"
                    name="preparation[]"
                    value=""
                >
            </div>
        {% endif %}
</div>

<div class="add-preparation">Adicionar novo passo</div>

<div class="item">
    <div>Informações Adicionais</div>
    <div>
        <textarea 
            name="information" 
            cols="30" 
            rows="20"
        >{{ recipe.information }}</textarea>
    </div>
</div>