<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/chef-favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

    {% block head %}
        <title>Admin - Foodfy</title>
    {% endblock %}

</head>
<body>

    <header class="header-admin">
        
        <div class="header-admin-image">
            <a href="/admin/recipes">
                <img src="/assets/logo-admin.png" alt="logo Foodfy">
            </a>
            
            <div class="links">
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </div>

        </div>

    </header>
    
    <div class="wrapper">
        
        {% block content %}{% endblock %}

    </div>

    <script>
     // ACTIVE MENU

        const currentPage = location.pathname
        const links = document.querySelectorAll('.links a')


        for (const link of links) {
            if(currentPage.includes(link.getAttribute('href'))) {
                link.classList.add('active-admin')
            }
        }
    </script>
</body>
</html>